// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    color: inherit;
    background: none;
    border: none;
    cursor: pointer;
}

// .button {
//     padding: 6px 9px;
//     display: inline-block;
// }

.btn {
    display: inline-block;
    font-size: 17px;
    line-height: 22px;
    font-weight: 500;
    padding: 10px 16px;
    min-width: 130px;
    border-radius: 50px;
    text-align: center;
    transition: 0.25s ease-in-out;
    &__primary-orange {
        background: $primary-button;
        padding: 10px 16px;
        color: $title-green;
        &:hover {
            background: #EB751F;
            color: $title-green !important;

        }
    }
    &__primary-border {
        background: $background;
        border: $border-button;
        color: $primary;
        padding: 10px 16px;
       
        &:hover {
            background: #EB751F;
            color: $title-green !important;
            border: 1px solid $hover-orange;

        }
    }
    &__white-border {
        background: transparent;
        border: 1px solid white;
        color: white;
        border-radius: 50px;

        &:hover {
            background: #EB751F;
            color: $title-green !important;
            border: 1px solid $hover-orange;

        }
    }
}

.btns-grid {
    display: flex;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
    @include respond-to("small") {
        gap: 20px;
    }
    &--center {
        justify-content: center;
    }
}

.slick-prev {
    rotate: 180deg;
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(50%);
    left: 20px;
    width: 35px;
    @include respond-to("small") {
   width: 66px;
   
    
    }
    @include respond-to("medium") {
        left: 120px;
         
         }

         @include respond-to("xlarge") {
            left: calc((100vw - 1100px) / 2 - 50px);
             
             }
}

.slick-next {
    bottom: 50%;
    right: 20px;
    width: 35px;
   
    transform: translateY(50%);
    position: absolute;
    z-index: 1;
    @include respond-to("small") {
   width: 66px;
    
   
    }
    @include respond-to("medium") {
        right: 120px;
        
         
         }

         @include respond-to("xlarge") {
            right: calc((100vw - 1100px) / 2 - 50px);
             
             }
}

.slick-track {
    position: relative;
}
