.about-us {
    margin-bottom: 14px;
    background: linear-gradient(rgba(39, 39, 39, 0.3), rgba(39, 39, 39, 0.3)), url(/dist/img/img-home/hubitat-hero.jpg) center/cover;
    min-height: 350px;
    padding: 60px 0;

    @include respond-to("medium") {
        min-height: 594px;
    }

    @include respond-to("large") {
        padding-top: 97px;
        min-height: 694px;

    }

    .container {

        @include respond-to("medium") {
            padding-left: 150px;
        }
    }

  
    border-radius: 20px;

    &__background-photo {


        p {
            color: white;
            max-width: 423px;
            font-weight: 500;
            font-size: 28px;
            line-height: 32px;
            margin-bottom: 0;
        }
    }

    &__label {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        width: 129px;
        color: $label-green;
        border-radius: 6px;
        margin-bottom: 28px;
        padding: 10px 12px;

        h4 {
            
            text-align: center;
            font-weight: 500;
            margin-bottom: 0;

        }
    }

    &__button {
        margin-top: 32px;

        .button {
            padding: 10px 16px;
        }
    }


}