.our-community {
    background-color: $primary;
    margin-top: -1px;

    @include respond-to("medium") {
        padding-top: 80px;
    padding-bottom: 165px;
        }

        @include respond-to("large") {
            padding-top: 98px;
        
            }

        .paragraph-regular {
            max-width: 580px;
            margin: 0 auto;
            // margin-top: 56px;
            margin-bottom: 30px;
            color: white;
        }


        &__description {
            @include respond-to("large") {
            margin-bottom: 80px;
            }
        }
    .h1 {
        color: white;
        margin-bottom: 50px;
    }

    .slick-list {
        padding: 0 70px  !important; 

        @include respond-to("medium") {
            padding: 0 180px !important;
        }
    }

    /* the slides */
    .slick-slide {
        margin: 0 10px;
        transition: opacity 0.4s ease-out;

        img {
            border-radius: 18px;
        }

        @include respond-to("medium") {
            margin: 0 20px;
        }

        @include respond-to("large") {
            margin: 0 35px;
            // max-width: 950px !important;
        }

        @include respond-to("xlarge") {
          width: 80%;
            max-width: 1100px !important;
        }

        &:not(.slick-center) {
            opacity: 0.2;
        }

    }

    /* the parent */
    .slick-list {
        margin: 0 -15px;

        @include respond-to("medium") {
            margin: 0 -35px;
        }

       
    }

    
}

.different {
    background-color: $background-light;
    padding-top: 70px;
    margin-top: 14px;
    border-radius: 18px;

    &__heading {

        @include respond-to("medium") {
        display: flex;
        justify-content: space-between;
        }
    }

    &__text {
        max-width: 650px;
    }

    &__images {

       img { 
        
            display: flex;
       }
            
        
    

        @include respond-to("large") {
        display: flex;
        align-items: end;
        gap: 124px;
        }
    }

    

    .h2 {
        max-width: 450px;
    }
}


.meet-coworkers {
    &__grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        margin-bottom: 90px;
    }

    &__button {
        display: flex;
        justify-content: center;
    }
}

.community-perks {
    .perks__text {
        p {
            color: $paragraph-on-light;
        }
    }

    padding-top: 100px;
    padding-bottom: 80px;
}

.dafed {
    background-position: center;
    height: 760px;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 40px;

    &__circle {
        border-radius: 50%;
        width: 690px;
        height: 690px;
        background-color: #F7E900;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;

        .paragraph-regular {
            max-width: 550px;
            margin-top: 24px;
        }

        .h2 {
            max-width: 250px;
            text-align: center;
        }
    }


}

.support {
    @include respond-to("large") {
        padding-top: 90px;
        padding-bottom: 90px;
        
    }

    &__flex {
        display: flex;
        gap: 50px;

        .paragraph-regular {
            max-width: 400px;
            display: flex;
            margin-left: auto;
            
            margin-top: 146px;
        }
    }

    
}

.meet-coworkers {
    @include respond-to("large") {
        padding-top: 90px;
        padding-bottom: 90px;
        
    }

    .paragraph {
        max-width: 524px;
    }

    &__grid {
        margin-top: 100px;
        column-gap: 25px;
        row-gap: 40px;
    }
}

.join-us {
    height: 550px;
    background-color: $primary;
    display: flex;
    align-items: center;
    justify-content: center;
position: relative;
    .h2, .paragraph-regular {
        color: white;
    }

    &__invitation {
        max-width: 590px;
        text-align: center;
    }

    .paragraph-regular {
        max-width: 470px;
        margin-top: 20px;
        margin-bottom: 28px;
    }

    &__top {
        position: absolute;
        bottom: 0;
        right: 0;
        display: flex;
    }

    &__bottom {
      

        position: absolute;
top: 0;
left: 0;
            }
 

    .mailing-list {
        &__flex-item-right {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            padding-bottom: 23px;
            border-bottom: 2px solid #234930;
            margin-top: 30px;
            cursor: pointer;
        
            @include respond-to("small") {
                width: 646px;
            }
        
            @include respond-to("medium") {
                margin-top: 0;
            }
        
            p {
                font-weight: 500;
                font-size: 36px;
                line-height: 36px;
                color: $title-green;
                margin-bottom: 0;
            }
        
            input {
                border: none;
                background-color: $background;
                padding: 13px 0;
                font-size: 24px;
                line-height: 36px;
                font-weight: 500;
                width: 100%;
        
                &:focus-within {
                    outline: none;
                }
        
                &::placeholder {
                    color: $primary;
                    font-size: 36px;
                    line-height: 36px;
                }
        
                &::-webkit-input-placeholder {
                    /* Chrome/Opera/Safari */
                    color: $primary;
                }
        
                &::-moz-placeholder {
                    /* Firefox 19+ */
                    color: $primary;
                }
        
                &:-ms-input-placeholder {
                    /* IE 10+ */
                    color: $primary;
                }
        
                &:-moz-placeholder {
                    /* Firefox 18- */
                    color: $primary;
                }
        
            }
        
            &:hover input::placeholder {
                color:  #F8A13C; /* Placeholder text color on hover */
            }
        
            &:hover .svg-button circle {
                fill:  #F8A13C; /* SVG circle color on hover */
            }
        }
    }
   

    
}


