.working-space {
    background-color: $primary;
    @include respond-to("medium") {
        padding-top: 80px;
    padding-bottom: 165px;
        }

        .paragraph-regular {
            max-width: 580px;
            margin: 0 auto;
            margin-top: 56px;
            margin-bottom: 80px;
            color: white;
        }

        &__gallery {
            display: flex;
            align-items: center;
            justify-content: center;
           
        img {
            border-radius: 14px;
        }
    }

    .h1 {
        color: white;
    }

    .slick-list {
        padding: 0 70px  !important; 

        @include respond-to("medium") {
            padding: 0 180px !important;
        }
    }

    /* the slides */
    .slick-slide {
        margin: 0 10px;
        transition: opacity 0.4s ease-out;

        img {
            border-radius: 18px;
        }

        @include respond-to("medium") {
            margin: 0 20px;
        }

        @include respond-to("large") {
            margin: 0 35px;
            // max-width: 950px !important;
        }

        @include respond-to("xlarge") {
          width: 80%;
            max-width: 1100px !important;
        }

        &:not(.slick-center) {
            opacity: 0.2;
        }

    }

    /* the parent */
    .slick-list {
        margin: 0 -15px;

        @include respond-to("medium") {
            margin: 0 -35px;
        }

       
    }

}

.location {
    padding-top: 70px;
    padding-bottom: 14px;
 &__flex {
    @include respond-to("large") {
    display: flex;
    max-width: 1055px;
    margin-left: auto;
    gap: 95px;
    margin-bottom: 14px;
    }

    img {
        border-radius: 14px;
    }
 }

 &__info {
    max-width: 456px;
 }

 .paragraph {
    max-width: 490px;
    margin-bottom: 64px;
 }

 &__photo {
    display: flex;
    justify-content: end;

    img {
        border-radius: 14px;
    }
}}

.design {
@include respond-to("large") {
    padding-top: 110px;
    padding-bottom: 100px;
}

&__heading {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 110px;
}

&__items {
    display: flex;
    align-items: center;
    gap: 70px;
    padding-bottom: 60px;
    padding-top: 60px;
    border-bottom: $stroke-color;

    &:last-of-type {
        border-bottom: 0;
    }
}

&__content {
    max-width: 494px;
}

&__space {
    display: flex;
    flex-direction: column;
    :nth-child(2) {
        justify-content: end;
    }
    :nth-child(1) {
        padding-top: 0;
    }
}
.paragraph-regular {
    margin-top: 0;
}

.h2 {
    max-width: 550px;
}

.slick-list {
    padding: 0 70px  !important; 

    @include respond-to("medium") {
        padding: 0 180px !important;
    }
}

/* the slides */
.slick-slide {
    margin: 0 10px;
    transition: opacity 0.4s ease-out;

    img {
        border-radius: 14px;
    }

    @include respond-to("medium") {
        margin: 0 20px;
    }

    @include respond-to("large") {
        margin: 0 35px;
        // max-width: 950px !important;
    }

    @include respond-to("xlarge") {
      width: 80%;
        max-width: 1100px !important;
    }

    &:not(.slick-center) {
        opacity: 0.2;
    }

}

/* the parent */
.slick-list {
    margin: 0 -15px;

    @include respond-to("medium") {
        margin: 0 -35px;
    }

   
}
}
