// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
// .header {
//     padding: 13px 0;
//     height: 66px;
//     @include respond-to("small") {
//         // padding: 18px 0;
//     }
//     .container {
//         display: flex;
//         justify-content: space-between;
//         align-items: center;
//     }
//     &__logo {
//         display: block;
//         width: 100px;
//         flex-shrink: 0;
//         z-index: 1;
//         margin-right: 15px;
//         @include respond-to("small") {
//         }
//         @include respond-to("medium") {
//             width: 142px;
//         }
//         &--wide {
//             max-width: 22rem;
//         }
//     }

//     &__left, &__right {
//         display: flex;
//         align-items: center;
//     }

//     &__contact {
//         @include respond-to("small") {
//             display: flex;
//             align-items: center;
//         }
//     }
// }

// .main-navigation {
// position: absolute;
// top: 60px;
// left: 100%;
// width: 100%;
// text-align: center;
// transition: 0.3s;
// z-index: 1;
// background-color: $white;
// display: flex;
// flex-direction: column;
// justify-content: center;
// align-items: center;
//     @include respond-to("small") {
//         position: static;
//         width: auto;
//         height: auto;
//         margin-left: auto;
//         background-color: transparent;
//         display: block;
//     }
//     ul {
//         list-style: none;
//     }
//     .menu {
//         margin: 0;
//         padding-left: 0;
//         @include respond-to("small") {
//             display: flex;
//         }
//         .menu-item-has-children {
//             &:hover {
//                 .sub-menu {
//                     @include respond-to("small") {
//                         opacity: 1;
//                         pointer-events: auto;
//                         margin-top: 0;
//                     }
//                 }
//             }
//         }
//         > li {
//             position: relative;
//             // margin: 2.5rem 0;
//             margin:0 10px 0 0;
//             @include respond-to("small") {
//                 margin: 0 35px;
//             }
//             > a {
//                 display: block;
//                 text-decoration: none;
//                 padding: 7px 10px;
//                 // color: $title;
//                 color:white;

//                 .home & {
//                     @include respond-to("small") {
//                         color: white;
//                     }
//                 }
//                 &:hover,
//                 &:focus,
//                 &:active {
//                     color: $primary;
//                 }
//             }
//         }
//     }
//     li {
//         a {
//             display: block;
//             text-decoration: none;
//         }
//     }
//     .header__logo {
//         margin: 20px 0 0 20px;
//         @include respond-to("small") {
//             display: none;
//         }
//         header.menu-opened & {
//             position: absolute;
//             top: 0;
//             left: 0;
//         }
//     }
//     header.menu-opened & {
//         left: 0;
//     }
// }

// /* Submenu */

// .sub-menu {
//     display: none;
//     margin: 0;
//     padding-left: 0;
//     @include respond-to("small") {
//         display: block;
//         position: absolute;
//         min-width: 100%;
//         transition: all 0.5s ease;
//         margin-top: 10px;
//         pointer-events: none;
//         opacity: 0;
//         background: white;
//         box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
//         text-align: left;
//     }
//     li {
//         margin: 0;
//         transition: all 0.3s ease;
//         a {
//             padding: 10px 12px;
//         }
//         &:hover {
//             background: rgba(0, 0, 0, 0.1);
//         }
//     }
// }

// /* Small menu */

// .menu-toggle {
//     display: block;
//     position: relative;
//     top: 0;
//     z-index: 9999999999;
//     margin-left: 1.5rem;
//     cursor: pointer;
//     .header-main & {
//         bottom: 5px;
//     }
//     span {
//         display: block;
//         width: 20px;
//         height: 2px;
//         margin: 5px auto;
//         -webkit-transition: all 0.3s ease-in-out;
//         transition: all 0.3s ease-in-out;
//         background-color: white;
//     }
//     &.opened {
//         span {
//             &:nth-child(2) {
//                 opacity: 0;
//             }
//             &:nth-child(1) {
//                 transform: translateY(7px) rotate(45deg);
//             }
//             &:nth-child(3) {
//                 transform: translateY(-7px) rotate(-45deg);
//             }
//         }
//     }
//     @include respond-to("small") {
//         display: none;
//     }
// }

// /* language switcher */
// .wpml-ls-legacy-dropdown-click {
//     width: auto;
// }

// .wpml-ls-legacy-dropdown-click .wpml-ls-current-language:hover>a, .wpml-ls-legacy-dropdown-click a:focus, .wpml-ls-legacy-dropdown-click a:hover{
//     background: inherit;
// }

// .home .wpml-ls-legacy-dropdown-click .wpml-ls-current-language:hover>a, .wpml-ls-legacy-dropdown-click a:focus, .wpml-ls-legacy-dropdown-click a:hover{
//     color: white;

// }



// .wpml-ls-legacy-dropdown-click a.wpml-ls-item-toggle:after{
//     border-top: 0.4em solid;
//     right: 6px 5px;
// }
// .wpml-ls-legacy-dropdown-click a {
//     border: none;
//     background-color: transparent;

//     font-size: 16px;
// }

// .home .wpml-ls-legacy-dropdown-click a {
//  padding: 5px;
//     color: white;

// }

// .wpml-ls-legacy-dropdown-click .wpml-ls-sub-menu {
//     border: none;
//     a {
//         color: $title;
//         background-color: white;
//         padding: 6px;
//     }
// }

// .wpml-ls-legacy-dropdown-click a.wpml-ls-item-toggle{
//     padding-right: 23px;
// }


.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
    padding-top: 30px;
    background-color: $background;
    // padding-bottom: 36px;

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        border-bottom: $border-color;

    }

    &__left {
        p {
            color: $title-green;
            font-size: 15px;
        }
    }

    &__right {

        // display: none;



        @include respond-to("medium") {
            display: block;

            ul {
                display: none;

                @include respond-to("medium") {
                    list-style-type: none;
                    display: flex;
                    align-items: center;
                    font-size: 17px;
                    color: $title-green;
                    gap: 20px;

                    @include respond-to("large") {
                        gap: 42px;
                    }
                }

                li {
                    // margin-right: 42px;

                    &:last-of-type {
                        margin-right: 0;
                    }


                }
            }

        }

        .hamburger {
            display: block;
            cursor: pointer;

            @include respond-to("medium") {
                display: none;
            }

        }

        .line {
            width: 30px;
            height: 3px;
            background-color: $primary;
            border-radius: 2px;
            margin: 6px 0;
            transition: transform 0.4s ease;
        }


    }

    .nav-menu {
        display: none;
    }

    // .navigation {
    //     position: fixed;
    // left: 0;
    // top: 5rem;
    // flex-direction: column;
    // background-color: #fff;
    // width: 100%;
    // border-radius: 10px;
    // text-align: center;
    // transition: 0.3s;
    // box-shadow:
    //     0 10px 27px rgba(0, 0, 0, 0.05);
    //     list-style-type: none;

    // }

    &__navigation {
        .nav-menu {
            @include respond-to("medium") {
                display: flex;
                flex-direction: row;
            }
        }

        &.change {
            .nav-menu {
                display: flex;
                position: fixed;
                justify-content: space-around;
                left: -49px;
                top: 101px;
                flex-direction: column;
                background-color: $background;
                width: 100%;
                text-align: center;
                transition: 0.3s;
                z-index: 100;
                padding: 52px 0;
                min-height: 450px;
                list-style-type: none;

                @include respond-to("small") {
                    top: 104px;
                }



                li {
                    margin-bottom: 20px;
                }


            }

            .hamburger {}
        }
    }


    &.header--green {
        position: relative;
        background-color: $primary;

        .nav-item {
            a {
                color: white;
            }
        }
        
    }








}