.header {
    position: relative;
    top: 0;
    width: 100%;
    z-index: 10000;
    padding-top: 30px;
    background-color: $background;
    // padding-bottom: 36px;

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        border-bottom: $border-color;

    }

    &__left {
        p {
            color: $title-green;
            font-size: 15px;
        }
    }

    &__right {

        // display: none;



        @include respond-to("medium") {
            display: block;

            ul {
                display: none;
                color: $title-green;


                @include respond-to("medium") {
                    list-style-type: none;
                    display: flex;
                    align-items: center;
                    font-size: 17px;

                    gap: 20px;

                    @include respond-to("large") {
                        gap: 42px;
                    }
                }

                li {
                    // margin-right: 42px;

                    &:last-of-type {
                        margin-right: 0;

                       
                    }

                    a {
                        &:hover {
                            color: $hover-orange;
                        }

                     
                    }

                }
            }

        }


        
        .hamburger {
            display: block;
            cursor: pointer;
        
            @include respond-to("medium") {
                display: none;
            }
        }
        
        .line {
            width: 30px;
            height: 3px;
            background-color: $primary;
            border-radius: 2px;
            margin: 6px 0;
            transition: transform 0.4s ease;
        }
        
       
        



    }

    .nav-menu {
        display: none;
    }


    &__navigation {
        .nav-menu {
            @include respond-to("medium") {
                display: flex;
                flex-direction: row;
            }
        }

        &.change {
            .nav-menu {
                display: flex;
                position: fixed;
                justify-content: space-around;
                left: -48px;
                top: 98px;
                flex-direction: column;
                background-color: $background;
                width: 100%;
                text-align: center;
                transition: 0.3s;
                z-index: 100;
                padding: 52px 0;
                min-height: 450px;
                list-style-type: none;

                @include respond-to("small") {
                    left: -50px;
                }

                @include respond-to("medium") {
                    top: 104px;
                }



                li {
                    margin-bottom: 20px;
                }


            }

            .hamburger .line:nth-child(1) {
                transform: rotate(45deg) translate(10px, 5px);
            }
            
            .hamburger .line:nth-child(2) {
                opacity: 0;
            }
            
            .hamburger .line:nth-child(3) {
                transform: rotate(-45deg) translate(8px, -2px);
            }
        }
    }

    /* HEADER GREEN */
    &.header--green {
        position: relative;
        background-color: $primary;

        .nav-item {
            a {
                color: white;

                
                    &:hover {
                        color: $hover-orange;
                    }

                 
                
            }
        }

        .line {
            width: 30px;
            height: 3px;
            background-color: white;
            border-radius: 2px;
            margin: 6px 0;
            transition: transform 0.4s ease;
        }

        &.header--green .nav-menu {
            background-color: $primary !important;
        }

        &__navigation {

            &.change {
                .nav-menu {
                    display: flex;
                    position: fixed;
                    justify-content: space-around;
                    left: -50px;
                    top: 100px;
                    flex-direction: column;
                    background-color: $primary !important;
                    width: 100%;
                    text-align: center;
                    transition: 0.3s;
                    z-index: 100;
                    padding: 52px 0;
                    min-height: 450px;
                    list-style-type: none;

                    @include respond-to("medium") {
                        top: 104px;
                    }



                    li {
                        margin-bottom: 20px;

                     

                    }


                }


            }

            .hamburger .line:nth-child(1) {
                transform: rotate(45deg) translate(10px, 5px);
            }
            
            .hamburger .line:nth-child(2) {
                opacity: 0;
            }
            
            .hamburger .line:nth-child(3) {
                transform: rotate(-45deg) translate(8px, -2px);
            }
        }

    }

}