
.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
    padding-top: 30px;
    background-color: $background;
    // padding-bottom: 36px;

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        border-bottom: $border-color;

    }

    &__left {
        p {
            color: $title-green;
            font-size: 15px;
        }
    }

    &__right {

        // display: none;



        @include respond-to("medium") {
            display: block;

            ul {
                display: none;

                @include respond-to("medium") {
                    list-style-type: none;
                    display: flex;
                    align-items: center;
                    font-size: 17px;
                    color: $title-green;
                    gap: 20px;

                    @include respond-to("large") {
                        gap: 42px;
                    }
                }

                li {
                    // margin-right: 42px;

                    &:last-of-type {
                        margin-right: 0;
                    }


                }
            }

        }

        .hamburger {
            display: block;
            cursor: pointer;

            @include respond-to("medium") {
                display: none;
            }

        }

        .line {
            width: 30px;
            height: 3px;
            background-color: $primary;
            border-radius: 2px;
            margin: 6px 0;
            transition: transform 0.4s ease;
        }


    }

    .nav-menu {
        display: none;
    }


    &__navigation {
        .nav-menu {
            @include respond-to("medium") {
                display: flex;
                flex-direction: row;
            }
        }

        &.change {
            .nav-menu {
                display: flex;
                position: fixed;
                justify-content: space-around;
                left: -49px;
                top: 101px;
                flex-direction: column;
                background-color: $background;
                width: 100%;
                text-align: center;
                transition: 0.3s;
                z-index: 100;
                padding: 52px 0;
                min-height: 450px;
                list-style-type: none;

                @include respond-to("small") {
                    top: 104px;
                }



                li {
                    margin-bottom: 20px;
                }


            }

            .hamburger {}
        }
    }


    &.header--green {
        position: relative;
        background-color: $primary;

        .nav-item {
            a {
                color: white;
            }
        }

        .line {
            width: 30px;
            height: 3px;
            background-color: white;
            border-radius: 2px;
            margin: 6px 0;
            transition: transform 0.4s ease;
        }

        &.header--green .nav-menu {
            background-color: $primary !important;
        }

        &__navigation {

            &.change {
                .nav-menu {
                    display: flex;
                    position: fixed;
                    justify-content: space-around;
                    left: -49px;
                    top: 101px;
                    flex-direction: column;
                    background-color: $primary !important;
                    width: 100%;
                    text-align: center;
                    transition: 0.3s;
                    z-index: 100;
                    padding: 52px 0;
                    min-height: 450px;
                    list-style-type: none;

                    @include respond-to("small") {
                        top: 104px;
                    }



                    li {
                        margin-bottom: 20px;

                    }


                }

                
            }
        }

    }

}